* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #191825;
  /* border-right: 2px solid black; */
}
h1 {
  font-size: 60px;
  color: white;
  text-align: center;
  position: relative;
  font-weight: bold;
  text-shadow: 9px 5px 15px #ff9933;
  /* padding-left: 40px; */
  /* overflow: hidden; */
  /* z-index:1 ; */
  /* height: 50vh; */
}
h1::before {
  content: "Happy Ram Navami 🚩";
  position: absolute;
  top: -10px;
  left: 0px;
  color: #ff9933;
  width: 620px;
  /* border: 1px solid red; */
  /* padding-left: 40px; */
  border-right: 2px solid red;
  overflow: hidden;
  white-space: nowrap;
  animation: animate 3s linear infinite 3s alternate;
  /* animation-delay: 10s; */
  /* width: px; */
  /* font-size: 60px; */
  /* color: orangered; */
  /* text-align: center; */
}
@keyframes animate {
  0% {
    width: 118%;
    /* animation-delay: 5s; */
  }
  100% {
    width: 0%;
    /* animation-delay: 5s; */
  }
}
